<ion-header>
  <ion-toolbar>
    <ion-title>{{studentNumber}}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon name="home"></ion-icon>
      </ion-button>
      <ion-button routerLink="/favourites">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <input type="text" placeholder="Search Movie Name" [(ngModel)]="searchQuery">

  <ion-button expand="full" (click)="search()">SEARCH</ion-button>

  <p>{{searchQuery ? searchQuery + ' Movies' : "Today's Trending Movies"}}</p>

  <ion-list>
    <ion-item *ngFor="let movie of movies"
      (click)="goToMovieDetails(movie.id)">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"/>
      <ion-label>{{movie.overview}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
